
.btn:hover{
    background-color:grey;
}

    


.leftbutton{
    color: white;
    background: rgb(9, 154, 180);
    padding:none;
    margin:none;
    border:none;
    font-size:20px;
    vertical-align:middle;
    justify-content:center;
    position:absolute;
    left:0px;
    text-decoration: none;
    text-align:center;
    text-decoration:bold;
    height:40px;
    line-height:30px;
    align-items:center;
    font-family:sans-serif;
    top:0px;
}
    



    
.nav-item{
    position:absolute;
    float:right;
    top:1px;
    right:1px;
    z-index:1;
}
.btn{
    margin:none;
    background:none;
}
.dropdown{
    position:absolute;
    border:none;
    background:none;
    margin:none;
    padding:none;
    font-size:15px;
    float:right;
    top:1px;
    right:156px;
    font-family:sans-serif;
    z-index:1;
    outline:none;
    
    
}


.rightbutton2{
    
    border:none;
    background:none;
    font-size:15px;
    position:absolute;
    float:right;
    right:50px;
    
    font-family:sans-serif;
    
}
.rightbutton3{
    
    border:none;
    background:none;
    font-size:15px;
    position:absolute;
    right:1px;
   
    font-family:sans-serif;
    
}






.dropdown-menu {
    position:absolute;
  
    
    padding:15px;
    
    border:grey;
     
    z-index:1;
    border:none;
    background:none;
   
    }
    
.nav-select{
    display:none;
}   

.box-1{
    position:absolute;
    height:1000px;
    width:100%;
    background:rgb(245,243,243);
    top:40px;
}
.databox1{
    position:absolute;
    height:21000px;
    width:100%;
    background:rgb(245, 243, 243);
    top:40px;
    
    
}    
.comparisonbox1{
    position:absolute;
    height:100%;
    width:100%;
    background:rgb(245,243,243);
    top:40px;
    bottom:0px;
    min-height: 1000px;
}   
.box-2{
    position:absolute;
    top:10%;
    width:55%;
    left:4%;
    background:white;
   
    padding:35px;
    
    
}
.box-3{
    position:absolute;
    float:right;
    top:10%;
    width:35%;
    
    right:35px;
    background:white;
    padding:35px;
   
}

.h1{
    
    color:text-primary;
    font-family:sans-serif;
}
.p1{
    position:relative;
    font-size:14px;
    line-height:50px;
    font-family:sans-serif;
    
}
.comparisonbox2{
    position:absolute;
    left:2%;
    width:96%;
    height:900px;
    top:8%;
    background:white;
    padding:40px;
}
h3{color: rgb(9, 154, 180);
    text-align:left;
    text-decoration:bold;
    
    font-family:sans-serif;

}
.comparisonbox3{
    position:absolute;
    left:10%;
    width:80%;
    height:auto;
    top:8%;
    background:white;
    padding:40px;
    
}
    

@media(max-width:1000px)
{
.leftbutton{
    position:absolute;
    width:100%;
}
.box-1{
    display:none;
}    
.box-2{
        position:absolute;
        top:210px;
        left:0px;
        min-height:1000px;
         height:auto;
        width:100%;
       
}
.box-3{
    position:relative;
    float:bottom;
    bottom:0px;
    top:1800px;
    left:0px;
    width:100%;
}
.comparisonbox2{
    top:210px;
    
}
.comparisonbox3{
    top:210px;
}

.dropdown{
    width:100%;
}
.nav-item{
    display:none;
}

.nav-select{
    display:inline-block;
    width:100%;
}


.dropdown-menu{
    width:100%;
    border-width:100%;
    

}
.comparisonbox3{
    width:auto;
}

.btn.hover{
    background-color:grey;
    
    text-align:left;
    width:100%;

}

.btn{
    position:absolute;
    float:right;
    right:2px;
   
    float:top;
    top:0px;
    text-decoration:bold;
    cursor:pointer;
vertical-align:bottom;
border:1px solid;
width:100%;
}
.equal{
    position:absolute;
    float:right;
    float:top;
    right:2px;
   
    top:7px;
    text-decoration:bold;
    width:38px;
    height:25px;
    cursor:pointer;
    vertical-align:top;
       
}





.plot{
    width:100%;
}

.temp{
    position:relative;
    width:100%;
    left:10px;
}.humi{
    position:relative;
    width:100%;
    left:10px;
}
.clou{
    position:relative;
    width:100%;
    left:10px;
}
.wind{
    position:relative;
    width:100%;
    left:10px;
}

.wrapper {
    padding: 10px 8px;
    border: 1px solid  rgb(243, 240, 240);
    display: inline-block;
    position:absolute;
   top:0px;
    right:1px;
    border-radius:5px;
    
  }
  .element {
    background: red;
    width: 18px;
    height: 1px;
    box-shadow: 0 -5px 0 0 red, 0 5px 0 0 red;
  }
}